@import views.html.helpers.activeLink
@import org.webjars.play.WebJarsUtil

@(title: String, user: Option[models.User] = None, htmlClass: Option[String] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="@messages.lang.language" class="@htmlClass">
	<head>
		<meta charset="utf-8">
		<title>@title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/apple-icon-57x57.png")">
		<link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.versioned("images/apple-icon-60x60.png")">
		<link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/apple-icon-72x72.png")">
		<link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.versioned("images/apple-icon-76x76.png")">
		<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/apple-icon-114x114.png")">
		<link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.versioned("images/apple-icon-120x120.png")">
		<link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/apple-icon-144x144.png")">
		<link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.versioned("images/apple-icon-152x152.png")">
		<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/apple-icon-180x180.png")">
		<link rel="icon" type="image/png" sizes="192x192"  href="@routes.Assets.versioned("images/android-icon-192x192.png")">
		<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon-32x32.png")">
		<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.versioned("images/favicon-96x96.png")">
		<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon-16x16.png")">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="@routes.Assets.versioned("images/ms-icon-144x144.png")">
	</head>
	<body>
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="@routes.SignInController.index()">
				<span class="font-feat-a">S</span>
				<span class="font-feat-a">O</span>
				<span class="font-feat-a">S</span>
			</a>
			<button class="btn btn-link navbar-sos-toggler" type="button"
					data-toggle="collapse" data-target="#main-navbar"
					aria-controls="main-navbar" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

		<div class="collapse navbar-collapse" id="main-navbar">
			<nav class="navbar navbar-dark">
				<a class="navbar-brand" href="@routes.SignInController.index()">
					<span class="font-feat-a">S</span>
					<span class="font-feat-a">O</span>
					<span class="font-feat-a">S</span>
				</a>
				<button class="btn btn-link navbar-sos-toggler" type="button"
						data-toggle="collapse" data-target="#main-navbar"
						aria-controls="main-navbar" aria-expanded="true"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-12 col-sm-6 col-md-4">
						@for(lang <- Seq("it", "en")) {
							<div class="nav-item @(if (messages.lang.language == lang) "active")">
								<form method="post" action="@routes.HomeController.changeLang(lang)">
									<input type="hidden" name="redirect_url" value="@request.uri" />
									<button type="submit" class="btn btn-link">@Messages(s"nav.$lang")</button>
								</form>
							</div>
						}
						<div class="nav-divider"></div>
						@activeLink(Messages("nav.rules"), routes.HomeController.rules())
						@if(user.isDefined) {
							<div class="nav-item">
								<form method="post" action="@routes.SignInController.signOut()">
									<button type="submit" class="btn btn-link">@Messages("nav.signOut")</button>
								</form>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		<main class="container">
			<div class="row">
				<div class="col">
					@content
				</div>
			</div>
		</main>

		@webJarsUtil.locate("jquery.min.js").script()
		@webJarsUtil.locate("bootstrap.min.js").script()
		<script type="text/javascript" src="@routes.Assets.versioned("javascript/main.js")"></script>
	</body>
</html>
