@import org.webjars.play.WebJarsUtil

@(token: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

@main(Messages("resetPassword.title")) {

	<h2 class="text-center font-weight-normal mb-5">@Html(Messages("resetPassword.heading"))</h2>

	@if(passwordsForm.errors.nonEmpty) {
		<div class="alert alert-danger alert-dismissible mb-5">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			@passwordsForm.errors.map { error =>
				@error.messages.map(m => Messages(m, error.args)).mkString("<br />")
			}.mkString("<br />")
		</div>
	}

	@helper.form(action = routes.ChangePasswordController.handleResetPassword(token),
		'class -> "needs-validation", 'novalidate -> "true") {
		<div class="form-row">
			<div class="col-12 col-sm-6 form-group">
				<label>@Messages("resetPassword.form.password1")</label>
				@helpers.input(passwordsForm("password1"), "password", 'class -> "form-control",
					'required -> "true", 'pattern -> ".{8,}")
			</div>
			<div class="col-12 col-sm-6 form-group">
				<label>@Messages("resetPassword.form.password2")</label>
				@helpers.input(passwordsForm("password2"), "password", 'class -> "form-control",
					'required -> "true", 'pattern -> ".{8,}")
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-black">@Messages("resetPassword.form.submit")</button>
		</div>
	}

}
